/*style form form content*/
.fom_group_data_moza{
    display: none;
    float:right;
    padding: 50px;
}
.form_create_moza{
    padding: 20px;
}
.form_create_moza label{
    color: #aa3e4c;
    margin-bottom: 10px;
    margin-top: 20px;
}
.form_create_moza button{
    width: 100%;
    background-color: #2a3f54;
    color: white;
    text-align: center;
    margin-top: 50px;
}
/* استایل برای دکمه روشن/خاموش */
.toggle-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

/* استایل برای دکمه در حالت خاموش */
.toggle-button::after {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s;
}

/* استایل برای دکمه در حالت روشن */
.toggle-button:checked {
    background-color: #4CAF50;
}

.toggle-button:checked::after {
    left: 31px;
}
.sent_request_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sent_request{
    display: none;
}
/*style detael_product singl */
.box_single_product_moza{
    border: 1px solid #d5d5d5;
    padding: 20px;
    width: 100%;
}
.price_moza{
    text-align: center;
    color: #0693e3;
    font-family: "Source Sans Pro",'sans-serif';
    font-size: 2.5rem;
    font-weight: 700;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
}
.alert-warning {
    color: #c06a2c;
    background-color: #fff1e7;
    border-color: #fedfc8;
}
.text-center{
    text-align: center;
}
.end_time_moza{
    font-size: 2rem;
    font-weight: 500;
}
.alert-success{
    background-color: #cffbd2;
    color: #518953;
    border-color: #4CAF50;
}
.alert-denger{
    background-color: #ffc0c0;
    color: #991b1b;
    border-color: #c75757;
}
.m-t-10{
    margin-top: 10px;
}
.set_price{
    animation: scaleBox 2s infinite;
}
.box_moza_list{
    position: absolute;
    top: 0;
    right: 249px;
    z-index: 999;
    background-color: white;
    padding: 20px;
    border: 1px solid;
    width: 543px;
    display: none;
}
.denger{
    border: 1px solid #fdafaf;
    background-color: #8d4949;
    color: #ffd1d1;
    text-align: center;
    padding: 8px 2px;
}
.cunt_bids{
    width: 100%;
}
.cunt_bids a{
    color: #007acd;
}
.sucsee{
    background-color: #57ff5f;
    color: #19701d;
    border: 1px solid #57ff00;
    text-align: center;
}
#bid_amount{
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}
.submit_form_bids{
    width: 100% !important;
    text-align: center;
    background-color: #007acd !important;
    color: white !important;
    border:none !important;
}
@keyframes scaleBox {
    0%, 100% {
        transform: scale(0.92);
    }
    50% {
        transform: scale(0.98);
    }
}
.order-status.status-sent {
    background: #8e44ad!important;
    color: white;
}
.dokan-label-order-status{
    background: #8e44ad;
    color: white; 
}
.order-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}
.order-details {
    display: flex;
    justify-content: space-between;
}
.order-general-info, .order-items {
    width: 48%;
}
.order-general-info p, .order-items table {
    margin: 10px 0;
}
.order-items table {
    width: 100%;
    border-collapse: collapse;
}
.order-items table th, .order-items table td {
    border: 1px solid #ddd;
    padding: 8px;
}